html lang="en"
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    meta content="" name="description"
    meta content="" name="author"
    title Rockbooks!
    link rel="stylesheet" href="#{static_path(@conn, "/css/app.css")}"

  body
    .container
      header.header
        nav role="navigation"
          ul.nav.nav-pills.pull-right
            = if logged_in?(@conn) do
              li
                = current_user(@conn).email
              li
                = link gettext("Logout"), to: session_path(@conn, :delete), method: :delete
              = else
                li
                  = link gettext("Login"), to: "/login"
                li
                  = link gettext("Register"), to: registration_path(@conn, :new)
        span.logo

      p.alert.alert-info role="alert"= get_flash(@conn, :info)
      p.alert.alert-danger role="alert"= get_flash(@conn, :error)

      main role="main"
        = render @view_module, @view_template, assigns

    script src="#{static_path(@conn, "/js/app.js")}"
