h1= gettext("Create an account")
  = form_for @changeset, registration_path(@conn, :create), fn f ->
    = if f.errors != [] do
      .alert.alert-danger
        p gettext(Oops, something went wrong! Please check the errors below:)
    .form-group
      label= gettext("name")
      = text_input f, :name, class: "form-control"
      = error_tag f, :name
    .form-group
      label= gettext("Email")
      = email_input f, :email, class: "form-control"
      = error_tag f, :email
    .form-group
      label= gettext("Password")
      = password_input f, :password, class: "form-control"
      = error_tag f, :password
    .form-group
      = submit gettext("Signup"), class: "btn btn-primary"

