h2= gettext("Login")

= form_for @conn, session_path(@conn, :create), [as: :session], fn f ->
  .form-group
    label= gettext("Email")
    = text_input f, :email, class: "form-control"

  .form-group
    label= gettext("Password")
    = password_input f, :password, class: "form-control"

  .form-group
    = submit gettext("Login"), class: "btn btn-primary"
